/* Selector for main Header which contains my navigation links  */
.main-topics-header {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  width: 100%;
  height: 178px;
  align-items: center;
  background-color: #757575;
}

/* Selector for logo container inside header */
.logo-container {
  text-align: center;
  width: 100%;
}

/* Selector for main-navbar */
.main-navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Selector for the search option inside main navbar */
.search-container {
  width: 100%;
  text-align: center;
}

/* Selector for the grid at the top of the main section */
.top-grid {
  display: grid;
  grid-template: 782px 637px / repeat(2, 1fr);
  width: 100%;
  background-color: #9E9E9E;
  position: relative;
}

/* Selector for articles inside the top-grid */
.top-grid-article {
  border: 1px solid white;
  display: flex;
  align-items: center;
}

/* Selector for the h1 element at the first section at the main section */
.top-h1 {
  width: 100%;
  position: absolute;
  top: 48px;
  margin: 0 auto;
  text-align: center;
}

/* Selector for the span inside the h1 element at the first section at the main section */
.top-h1 span {
  color: white;
  background-color: #212121;
  padding: 6px;
}

/* Selector for the span which "floats" to the top right of the main section */
.top-right-span {
  position: absolute;
  top: 35px;
  right: 40px;
  color: white;
  background-color: #424242;
  padding: 32px;
}

/* Selector for the headers of the article */
.article-header {
  width: 100%;
  color: white;
  text-align: center;
  background: #616161;
}