/* Selector for main Header which contains my navigation links  */
.main-topics-header {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  width: 100%;
  height: 178px;
  align-items: center;
  background-color: #757575;
  color: white;
}

/* Selector for logo container inside header */
.logo-container {
  text-align: center;
  width: 100%;
}

/* Selector for main-navbar */
.main-navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Selector for links in the navbar */
.main-navbar a:link {
  color: white;
}

/* Selector for the search option inside main navbar */
.search-container {
  width: 100%;
  text-align: center;
}

/* Selector for the grid at the top of the main section */
.top-grid {
  display: grid;
  grid-template: 782px 637px / repeat(2, 1fr);
  width: 100%;
  background-color: #9E9E9E;
  position: relative;
}

/* Selector for articles inside the top-grid */
.top-grid-article {
  border: 1px solid white;
  display: flex;
  align-items: center;
}

/* Selector for the h1 element at the first section at the main section */
.top-h1 {
  width: 100%;
  position: absolute;
  top: 48px;
  margin: 0 auto;
  text-align: center;
}

/* Selector for the span inside the h1 element at the first section at the main section */
.top-h1 span {
  color: white;
  background-color: #212121;
  padding: 6px;
}

/* Selector for the span which "floats" to the top right of the main section */
.top-right-span {
  position: absolute;
  top: 35px;
  right: 40px;
  color: white;
  background-color: #424242;
  padding: 32px;
}

/* Selector for the headers of the article */
.article-header {
  width: 100%;
  color: white;
  text-align: center;
  background: #616161;
}

/* Selector for second grid which contains my articles */
.second-grid {
  background-color: #9E9E9E;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 630px;
  height: 630px;
  width: 100%;
}

/* Selector for articles inside second section */
.second-grid-article {
  border: 1px solid white;
}

/* Selector for the div which contains text, inside second grid */
.second-grid-text {
  margin-top: 75px;
  background-color: #757575;
  position: relative;
  top: 50px;
  color: white;
}

/* Margin for my second grid  */
.second-grid-header {
  margin-top: 100px;
}

/* Selector for the third grid */
.third-grid {
  width: 100%;
  height: 708px;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  background: #9E9E9E;
}

/* Selector for the right figure container */
.right-figure {
  grid-column-start: 2;
  grid-column-end: 4;
  background: #212121;
  border-radius: 12px;
  margin: 16px;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Selector for the right figure header container */
.right-figure-header-container {
  width: 395px;
  height: 395px;
  background: #424242;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Selector for the button inside the third grid's right figure */
.article-button {
  background-color: #616161;
  position: absolute;
  bottom: 94px;
  padding: 32px;
  color: white;
  border-radius: 12px;
}